html{
    font-family: sans-serif
}

header{

}

h1{
    margin: 0px;
}

h3{
    color: white;
    padding: 5px;
    border-radius: 5px;
}

nav{
    padding: 5px;
}

.fit {
    width: 100%;
    height: auto;
}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: orangered;
}

li.border:hover{
    color: maroon;
    background-color: gainsboro;
}

table:hover{background-color: black;color: white;}


.approve{
    color: green;
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: grey;
    color: white;
}



.deny{
    color: red;
}


li.border{
    list-style-type: none;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;  
}

.button{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

a.button:hover{
    color: maroon;
    background-color: gainsboro;
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 2px;
    margin-top: 20px;
}

blockquote{
  display:block;
  background: #3B3B3B;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: sans-serif;
  font-size: medium;
  line-height: 1;
  color: white;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 10px solid #5A5757;
  border-right: 4px solid #5A5757;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 10px #5A5757;
  -webkit-box-shadow: 2px 2px 10px #5A5757;
  box-shadow: 2px 2px 10x #5A5757;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 50px;
  font-weight: bold;
  color: #BE1525;
  
  /*Positioning*/
  position:absolute;
  left: 10px;
  top:0px;
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
}

        /* kai parts */

body{background-image: url(images/backgroupimg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;}

.kysologan{font-size: 20px;
        text-align: center;
        color: white;
        font-family: "Times New Roman", Times, serif;
        }


.kyhomecon{ color: white;
    font-family: "Times New Roman", Times,;
    font-size: 15px;
    border-style: solid;
    
    
}


.kycenterformat{text-align: center; }
.serivetitlesize{font-size: 27px;}

.seriveformat{text-align: center;
            font-size: 16px;
            padding: 20px;
             font-family: "Times New Roman", Times, ;}
.kypaddingadjust{padding-bottom: 21px;
    
}

.kypaddingadjust2{margin-top: 170px;
    
    }
/*
.borderadjust3{border-left-style: none}
.borderadjust4{border-bottom-style: none }*/



.navcolor{color: white;
    
}

.kytable{background: ##878f99 ;
color: white;
font-weight: bold}

.kymid{text-align:center;}
.companyname{font-size: 20px;
    color: white;
    background-color: black}

.aboutuscolor{color: white; 
                padding: 10px;
                padding-top: 17px;}
.whitecolor{color: white;}
.yellowcolor{color: yellow;}
.redcolor{color: red;}
.gfformat{padding-top: 60px;}

.gfpadding{padding-top: 20px;}
.top{text-align: right;
        color: black;
font-size: 13px;padding: 0px;}

.blackcolor{background-color: black}

input {
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: grey;
  color: white;
}
textarea{  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: grey;
  color: white;}
select{
     margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: grey;
  color: white;
}
.requrestformat{font-size: 28px;
    color: mediumslateblue;
    
}

.textcent{text-align: center
    
}

.kylipadding{margin: 10px; font-size: 18px;padding: 10px;
    
    
}

/*krut--------------------------------------------*/
    body{
        font-family:sans-serif;
    }  
    input[type=text], 
    input[type=password] { 
        width: 100%; 
        padding: 12px 20px; 
        margin: 8px 0; 
        display: inline-block; 
        border: 2px; 
        box-sizing: border-box; 
    } 
     
    button { 
        background-color: Green; 
        color: white; 
        padding: 15px 20px; 
        margin: 8px 0; 
        cursor: pointer; 
        width: 100%; 
    } 
     
      
    .cancelbtn { 
        padding: 15px 20px; 
        background-color: firebrick; 
    } 
    /*float cancel and signup buttons and add an equal width*/ 
      
    .cancelbtn, 
    .signupbtn { 
        float: left; 
        width: 50%; 
    } 
    /*add padding to container elements*/ 
/*
      
    .container { 
        padding: 16px; 
    } 
*/
    /*clear floats*/ 
      
    .clearfix::after { 
        content: ""; 
        clear: both; 
        display: table; 
    } 
    /*styles for cancel button and signup button  
      on extra small screens*/ 
      
    @media screen and (max-width: 300px) { 
        .cancelbtn, 
        .signupbtn { 
            width: 100%; 
        } 

        
        
        
        
        
        
        
        
        
        
            input[type=text], 
    input[type=password] { 
        width: 100%; 
        padding: 12px 20px; 
        margin: 8px 0; 
        display: inline-block; 
        border: 2px solid #ccc; 
        box-sizing: border-box; 
    } 
     
    button { 
        background-color: Green; 
        color: white; 
        padding: 15px 20px; 
        margin: 8px 0; 
        cursor: pointer; 
        width: 100%; 
    } 
     
      
    .cancelbtn { 
        padding: 15px 20px; 
        background-color: firebrick; 
    } 
    /*float cancel and signup buttons and add an equal width*/ 
      
    .cancelbtn, 
    .signupbtn { 
        float: left; 
        width: 50%; 
    } 
    /*add padding to container elements*/ 
      
    .container { 
        padding: 16px; 
    } 
    /*clear floats*/ 
      
    .clearfix::after { 
        content: ""; 
        clear: both; 
        display: table; 
    } 
    /*styles for cancel button and signup button  
      on extra small screens*/ 
      
    @media screen and (max-width: 300px) { 
        .cancelbtn, 
        .signupbtn { 
            width: 100%; 
        } 
    } 
/*------------------------------------------*/
        .pfcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.pftitle {
  color: grey;
  font-size: 18px;
}

#pfbutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 250px;
  font-size: 18px;
}

#apf {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.apfbutton:hover, a:hover {
  opacity: 0.7;
}
        
